  body{
      background: url("../fundo.png"),-webkit-linear-gradient(right, #FFFFFF, #583f41);
      background: url("../fundo.png"),-o-linear-gradient(right, #FFFFFF, #583f41);
      background: url("../fundo.png"),linear-gradient(to left, #FFFFFF, #583f41);  
      }    
  video{
    width: 100% !important;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
  }
  canvas{
    width: 100%;
  }
  .botoes{
    height: 80px;
  }
  .pula{
    padding: 25px;
  }
  .panel-heading{
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-radius: 5px;
    background-color: #5cb85c;
  }
  .huge{
    font-size: 2em;
    padding-left: 15px;
  }
  .valores{
    padding-top: 15px;
  }
  .logo{
    padding-top: 10px;
    max-width: 80px;
  }
  @media (max-width: 600px) {
    .logo {
      width: 50px;
    }
  }